@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

body {
  margin: 0;
  padding: 0px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#navbar {
  position: absolute;
  height: 30px;
  width: 100px;
  left: 0px;
  top: 0px;
  background: white;
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cairo", sans-serif;
  z-index: 10000;
  border-radius: 3px;
  opacity: 0.9;
}

#infoBox {
  position: absolute;
  height: 340px;
  width: 100px;
  left: 0px;
  top: 30px;
  z-index: 100000;
  background: white;
  color: black;
  border-radius: 3px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
}

#infoBoxLocation {
  position: absolute;
  height: 330px;
  width: 110px;
  right: 0px;
  top: 0px;
  z-index: 100000;
  background: white;
  color: black;
  border-radius: 3px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
}

#infoTitle, #infoTitleLocation {
  font-size: 20px;
  font-weight: bolder;
}

.infoName {
  font-size: 13px;
  font-weight: bolder;
}
#infoList1 {
  color: red;
  font-size: 15px;
}
#infoList2 {
  color: orange;
  font-size: 15px;
}
#infoList3 {
  color: green;
  font-size: 15px;
}
#infoList4 {
  color: black;
  font-size: 15px;
}
#infoList5 {
  color: black;
  font-size: 10px;
}

#dateInfoBox {
  position: absolute;
  height: 100px;
  width: 160px;
  left: 0;
  bottom: 0px;
  z-index: 100000;
  background: white;
  color: black;
  border-radius: 10px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  text-align: right;
  padding: 5px;
  opacity: 0.9;
}

#dateInfoTitle {
  border-bottom: solid 1px black;
  font-weight: bolder;
}
#circle1 {
  border: 1px solid black;
  background: red;
  opacity: 0.7;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-top: 3px;
}
#circle2 {
  border: 1px solid black;
  background: orange;
  opacity: 0.7;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-top: 3px;
}
#circle3 {
  border: 1px solid black;
  background: green;
  opacity: 0.7;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-top: 3px;
}
.marker1 {
  border: 1px solid black;
  background: red;
  opacity: 0.7;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.marker2 {
  border: 1px solid black;
  background: orange;
  opacity: 0.7;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.marker3 {
  border: 1px solid black;
  background: green;
  opacity: 0.7;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.infowindow_wrap {
  background: white;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.infowindow_title {
  font-size: 15px;
  font-weight: bolder;
}

.infowindow_content {
  font-size: 13px;
  font-weight: normal;
}

.infowindow_date {
  font-size: 13px;
  font-weight: normal;
}
